[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "*"
mysqlclient = "*"
python-dateutil = "*"
captcha = "*"
redis = "*"
celery = "*"
flask = "*"
Jinja2 = ">=2.10.1"     # CVE-2019-10906
jsonschema = "*"
pyjwt = "*"
requests = ">=2.21.0"
SQLAlchemy = ">=1.3.0"  # CVE-2019-7548, CVE-2019-7164
uwsgi = "*"
wtforms = "*"
arxiv-base = "==0.16.6rc8"
authlib = "*"
redis-py-cluster = "==1.3.6"
openapi-spec-validator = "*"
6c2b755 = {path = "./../users"}
arxiv-auth = "*"
bleach = "*"
urllib3 = ">=1.24.2"    # CVE-2019-11324
pyyaml = ">=4.2b1"      # CVE-2017-18342
arxiv-vault = "==0.1.1rc14"

[dev-packages]
mimesis = "==2.1.0"
mypy = "*"
pydocstyle = "*"
pylint = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
coverage = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
"nose2" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
