[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "*"
mysqlclient = "*"
python-dateutil = "*"
captcha = "*"
redis = "*"
celery = "*"
flask = "*"
jsonschema = "*"
pyjwt = "*"
requests = "*"
sqlalchemy = "*"
uwsgi = "*"
wtforms = "*"
arxiv-base = "==0.10.1rc1"
arxiv-auth = "==0.1.0rc6"

[dev-packages]
mimesis = "*"
mypy = "==0.610"
pydocstyle = "*"
pylint = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
coverage = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
