[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
pyjwt = "*"
pytz = "*"
arxiv-base = "==0.10.1rc0"
arxiv-auth = "==0.1.0rc2"
mysqlclient = "*"
sqlalchemy = "*"
authlib = "*"

[dev-packages]
"nose2" = "*"
coverage = "*"
