[run]
omit =
    */app.py
    */wsgi.py
    */config.py
    docs/*
    */tests*
    */controllers/captcha_image.py
    */controllers/registration.py
    */stateless_captcha/*
    */controllers/util.py
    generate_token.py
