[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"17e504d" = {path = "./../arxiv-base-ui"}
pycountry = "*"
"nose2" = "*"
mysqlclient = "*"
python-dateutil = "*"

[dev-packages]
mimesis = "*"

[requires]
python_version = "3.6"
