[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "*"
mysqlclient = "*"
python-dateutil = "*"
captcha = "*"
redis = "==2.10.6"
redis-py-cluster = "==1.3.6"
celery = "*"
Flask = "*"
Jinja2 = ">=2.10.1"     # CVE-2019-10906
jsonschema = "*"
PyJWT = "*"
requests = ">=2.21.0"
SQLAlchemy = ">=1.3.0"  # CVE-2019-7548, CVE-2019-7164
uWSGI = "*"
WTForms = "*"
arxiv-base = "==0.15.8rc4"
Authlib = "*"
openapi-spec-validator = "*"
bleach = "*"
urllib3 = ">=1.24.2"    # CVE-2019-11324
pyyaml = ">=4.2b1"      # CVE-2017-18342
arxiv-vault = "==0.1.1rc14"
pytz = "*"
arxiv-auth = {path = "./users"}

[dev-packages]
mimesis = "==2.1.0"
mypy = "==0.670"
pydocstyle = "==2.1.1"
pylint = "*"
coverage = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
astroid = "*"
"nose2" = "*"

[requires]
python_version = "3.6"
