REDIS_CLUSTER=0
REDIS_DATABASE=1
REDIS_PORT=6379
REDIS_HOST=TODO

SQLALCHEMY_TRACK_MODIFICATIONS=False
CLASSIC_DATABASE_URI=TODO

ACCOUNTS_SERVER_NAME=phoenix.arxiv.org
AUTH_SESSION_COOKIE_DOMAIN=phoenix.arxiv.org

PREFERRED_URL_SCHEME=https
DEFAULT_LOGIN_REDIRECT_URL=/
DEFAULT_LOGOUT_REDIRECT_URL=/

JWT_SECRET=TODO
LOGLEVEL=10
SESSION_DURATION=259200

FLASKS3_ACTIVE=0
FLASKS3_BUCKET_NAME=TODO
FLASKS3_CDN_DOMAIN=TODO
FLASKS3_USE_HTTPS=1
