REDIS_CLUSTER=0
REDIS_DATABASE=1
REDIS_PORT=6379
REDIS_IP=TODO

SQLALCHEMY_TRACK_MODIFICATIONS=False
CLASSIC_DATABASE_URI=TODO

ACCOUNTS_SERVER_NAME=phoenix.arxiv.org
AUTH_SESSION_COOKIE_DOMAIN=phoenix.arxiv.org

PREFERRED_URL_SCHEME=https

JWT_SECRET=TODO
LOGLEVEL=10
SESSION_DURATION=259200

