openapi: "3.0.0"
info:
  version: "0.1"
  title: "arXiv API client registry"
  description: |
    The arXiv API client registry provides authn/z workflows for API clients.
    Currently supports OAuth2 client credentials and authorization code
    (three-legged) grants.
  contact:
    name: "arXiv API Team"
    email: nextgen@arxiv.org
  license:
    name: MIT
servers:
  - url: https://api.arxiv.org/auth
    description: Metadata API endpoint.

paths:
  /token:
    post:
      operationId: getAccessToken
      summary: Request a new access token, using one of the supported grants.
      description: |
        This endpoint is used in both two-legged and three-legged auth
        workflows.

        ## Example request

        ```bash
        curl -XPOST \
          --data "client_id=[YOUR CLIENT ID]&client_secret=[YOUR CLIENT SECRET]&grant_type=client_credentials" \
          https://api.arxiv.org/auth/token
        ```

        ## Example response

        ```json
        {"access_token": "[YOUR ACCESS TOKEN]", "expires_in": 864000, "token_type": "Bearer"}
        ```


      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
                  enum: [client_credentials, authorization_code]
                  description: |
                    Grant type for the access token. The client must be
                    authorized to use this grant type.
                code:
                  type: string
                  description: |
                    In authorization_code grant, this is the authorization code
                    passed as a GET parameter in the user redirect. Not used
                    in client_credentials grant.
              required:
                - client_id
                - client_secret
                - grant_type
      responses:
        '200':
          description: The requested token is granted.
          content:
            application/json:
              schema:
                $ref: 'resources/Token.json'
        '400':
          description: |
            The request could not be handled given the provided data. This may
            be due to a missing parameter, or insufficient privileges.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: "string"
                    description: "Details about the error."
  /authorize:
    get:
      operationId: reviewAuthorizationRequest
      summary: |
        For use in a three-legged authorization workflow. Displays information
        about the scopes requested of an end user by a client.
      parameters:
        - in: query
          name: client_id
          schema:
            type: integer
          description: |
            Unique identifier for the client requesting authorization.
        - in: query
          name: response_type
          schema:
            type: string
            enum: [code]
        - in: query
          name: redirect_uri
          schema:
            type: string
            format: uri
          description: |
            The URL to which the end user should be redirected upon authorizing
            the client's request. This should match the redirect URI registered
            for the client.
        - in: query
          name: scope
          schema:
            type: string
          description:
            Authorization scopes being requested by the API client for the
            end user. Space delimited.
      responses:
        '200':
          description: |
            Page showing the authorization scopes being requested by the
            client, and asking the user to grant or deny the request.
          content:
            text/html:
              schema:
                type: string

        '400':
          description: |
            Error page indicating to the user that something isn't right about
            the authorization request. This may be because the client is not
            authorized for the authorization_code grant type, lacks the right
            to request the specified authorization scopes, or some other odd
            situation.
          content:
            text/html:
              schema:
                type: string

    post:
      operationId: confirmAuthorizationRequest
      summary: |
        For use in a three-legged authorization workflow. Client authorizes
        the requested scopes for the API client.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: integer
                  description: |
                    Unique identifier for the client requesting authorization.
                response_type:
                  type: string
                  enum: [code]
                redirect_uri:
                  type: string
                  format: uri
                  description: |
                    The URL to which the end user should be redirected upon
                    authorizing the client's request. This should match the
                    redirect URI registered for the client.
                scope:
                  type: string
                  description:
                    Authorization scopes being requested by the API client for
                    the end user. Space delimited.
                confirm:
                  type: string
                  enum: [ok]

      responses:
        '302':
          description: |
            Redirects the user to the API client's redirect endpooint along
            with an authorization code in the query parameters.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Redirect URI for the API client.

        '400':
          description: |
            Error page indicating to the user that something isn't right about
            the authorization request. This may be because the client is not
            authorized for the authorization_code grant type, lacks the right
            to request the specified authorization scopes, or some other odd
            situation.
          content:
            text/html:
              schema:
                type: string
