{% extends "registry/base.html" %}

{% block inner_content %}
<div class="columns">
  <div class="column is-half">
    <h1><i class="fa fa-question-circle-o" aria-hidden="true"></i> Authorization requested</h1>
    <p>
      The application <a href="{{ grant.request.client.url }}" class="has-text-weight-semibold" target="_blank">{{  grant.request.client.name }}</a> is
      requesting access to your account.
    <p>

    <p class="has-text-grey">
      <span class="has-text-weight-semibold">What is {{  grant.request.client.name }}?</span>
      {{ grant.request.client.description }}
    </p>

    <table class="table is-bordered is-fullwidth is-hoverable">
      <tbody>
        {% for scope in  grant.request.scope.split() %}
        <tr>
          <td class="is-size-6">
            <span class="has-text-weight-semibold">{{ scope }}</span>  {{ scope|scope_label }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form class="form" method="post">
      <input type="hidden" name="confirm" value="ok" />
      <div class="buttons submit-nav">
        <button name="action" type="submit" class="button is-success" value="submit" aria-label="Authorize">Authorize</button>
        <button name="cancel" class="button is-danger" value="cancel" aria-label="Cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
