

{% extends "accounts/base.html" %}

{% block inner_content %}

<div class="columns">
  <div class="column">

    <h1>Register for the first time</h1>
      <div class="columns">
        <div class="column is-half">
          <p>
            We associate papers that you have submitted with your user account.
            Please take care to only register with arXiv once.
          </p>
        </div>
      </div>
      <form action="{{ url_for('ui.register') }}?next_page={{ next_page|urlencode }}" method="POST">
        {{ form.csrf_token }}

        {% with field = form.email %}
        {{ field.label(class="label") }}
        <div class="columns">
          <div class="column">

            <div class="field">

              <div class="control">

                {% if field.errors %}
                  {{ field(class="input is-warning field-body")|safe }}
                {% else %}
                  {{ field(class="input field-body")|safe }}
                {% endif %}
                {% if field.errors %}
                  <div class="help is-warning">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}

              </div>

            </div>
          </div>
          <div class="column">
            {% if field.description %}
            <p class="is-marginless help has-text-grey">
              {{ field.description|safe }}
            </p>
            {% endif %}
          </div>
        </div>
        {% endwith %}


        {% with field = form.username %}
        {{ field.label(class="label") }}
        <div class="columns">
          <div class="column">

            <div class="field">

              <div class="control">

                {% if field.errors %}
                  {{ field(class="input is-warning field-body")|safe }}
                {% else %}
                  {{ field(class="input field-body")|safe }}
                {% endif %}
                {% if field.errors %}
                  <div class="help is-warning">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}

              </div>

            </div>
          </div>
          <div class="column">
            {% if field.description %}
            <p class="is-marginless help has-text-grey">
              {{ field.description|safe }}
            </p>
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.password %}
        {{ field.label(class="label") }}
        <div class="columns">
          <div class="column">

            <div class="field">

              <div class="control">

                {% if field.errors %}
                  {{ field(class="input is-warning field-body")|safe }}
                {% else %}
                  {{ field(class="input field-body")|safe }}
                {% endif %}
                {% if field.errors %}
                  <div class="help is-warning">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}

              </div>

            </div>
          </div>
          <div class="column">
            {% if field.description %}
            <p class="is-marginless help has-text-grey">
              {{ field.description|safe }}
            </p>
            {% endif %}
          </div>
        </div>
        {% endwith %}

        {% with field = form.password2 %}
        {{ field.label(class="label") }}
        <div class="columns">
          <div class="column">

            <div class="field">

              <div class="control">

                {% if field.errors %}
                  {{ field(class="input is-warning field-body")|safe }}
                {% else %}
                  {{ field(class="input field-body")|safe }}
                {% endif %}
                {% if field.errors %}
                  <div class="help is-warning">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}

              </div>

            </div>
          </div>
          <div class="column">
            {% if field.description %}
            <p class="is-marginless help has-text-grey">
              {{ field.description|safe }}
            </p>
            {% endif %}
          </div>
        </div>
        {% endwith %}

        <div class="field">
          {{ form.captcha_token }}
          <img src="{{ url_for('ui.captcha') }}?token={{ form.captcha_token.data }}" />
          {% with field = form.captcha_value %}
          <div class="control">
            {{ field.label(class="label") }}
            {% if field.errors %}
              {{ field(class="input is-warning field-body")|safe }}
            {% else %}
              {{ field(class="input field-body")|safe }}
            {% endif %}
            {% if field.errors %}
              <div class="help is-warning">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {% if field.description %}
            <p class="help has-text-grey">
              {{ field.description|safe }}
            </p>
            {% endif %}
          </div>
          {% endwith %}
        </div>


        <div class="control">
          <input type="submit" class="button is-success" value="Register"></input>
        </div>


      </div>
    </form>
  </div>
</div>
{% endblock inner_content %}
