name: Run Python Tests
on:
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      WITH_INTEGRATION: 1
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"
      - name: Install pip and poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
      - name: Install and test arxiv-auth
        working-directory: ./arxiv-auth
        run: |
          poetry install
          poetry run pytest --cov=arxiv_auth arxiv_auth
      - name: Install and test accounts
        working-directory: ./accounts
        run: |
          poetry install
          poetry run pytest --cov=accounts accounts
      - name: linter
        run: |
          pip install pylint
          ./tests/lint.sh arxiv-auth accounts
      - name: style check
        run: |
          pip install pydocstyle
          ./tests/style.sh arxiv-auth/arxiv_auth accounts/accounts


